 
 h1{
    color: #433386;
    text-align: center;
    font-family: sans-serif ;
    font-size: 70px;}
    

        a {
            color: #7891c4;
            font-size: 40px;
            cursor: pointer;
            transition: all 2000ms;
            display: block;
            text-align:right;
          } 
 table {
    width: 100%;
border: 5px solid rgb(86, 90, 97);
font-size: 30px;
margin: 20px;
line-height: 60px;
border-spacing: 6px;
}
td {
    background-color: rgb(199, 176, 193);
    padding: 10px;
    margin: 10px;
}
th {
    background-color: rgb(236, 229, 240);
}
tfoot{
    background-color: rgb(235, 228, 193);
    padding: 10px;
    margin: 10px;
    font-size: 40px;

} 

fieldset legend{
   font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(153, 101, 158);


}
input {
    padding: 10px;
    margin-bottom: 20px;
}
label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(153, 101, 158);
 
}