body 
{
background-color: #986D8E;
margin: auto;
}

h1{
color: #c0cccb;
text-align: center;
 font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 70px;

}

header nav{
    text-align:right;
   font-size: 30px;
    margin-right: 30px;
    background-color: #716F81;
   

}
.logo{
    width: 200px;
    height: 150px;
    display: inline;
    float: left;
    position: absolute;
    top: 20px;
    left: 20px;

}
header nav a {
    width: 100%;
    padding: 10px 30px;
    color: #D9CAB3;
    font-weight : bold;
    font-size: 30px;
    cursor: pointer;
    transition: all 2000ms;


  } 
  main{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  main p{
      width: 70%;
      height:inherit;
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      margin: 30px;
  }
img{
    display: grid;
    grid-template-columns: auto auto;
width:300px;
height: 300px;
padding: 30px;
width:25%;
float: right;

}
label{
    color: #cfd3da;
    font-family: sans-serif ;
    margin: 20px;
padding: 20px;
    font-size: 50px   
} 
ul li{
    list-style-type: lower-greek;
    color: #022c47;
    font-family: sans-serif ;
    margin: 20px;

    font-size: 30px
}

footer{
    text-align: left;
    color: #e8ebf1;
    font-family: 'Palette Mosaic', cursive;
        font-size: 50px;
}
/* h2 {
    color: #cfd3da;
    font-family: sans-serif ;
    margin: 20px;
padding: 20px;
    font-size: 50px;
}
p{
   color: #e4d3e1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
  
}
ul {
    color: rgb(71, 71, 77);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   width: 200px;
   height: 100px;
position: sticky;
}

label {
    color: #cfd3da;
    font-family: sans-serif ;
    margin: 20px;
padding: 20px;
font-size: 50px;
 position: sticky;

}
    */